.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.button svg {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  margin-right: auto;
}

.button p,
.button strong {
  margin-right: auto;
}

.button.important {
  background-color: var(--success);
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--success);
}

.button.fit {
  width: 100%;
}

.button.white {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--foreground);
}

.button.gray {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--inactive);
}

.button.important:hover {
  color: var(--success);
  background-color: transparent;
}

.button.white:hover {
  color: var(--foreground);
}

.button.gray:hover {
  color: var(--foreground);
  border: 1px solid var(--foreground);
  background-color: var(--background);
}
