.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 10px;
}

.container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid var(--menu-border);
}

.container svg {
  color: var(--inactive);
}

input:checked + .label {
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.name {
  color: var(--inactive);
}

input:checked ~ .name {
  color: var(--foreground);
}

.container input:checked ~ svg,
.container input:checked ~ div svg {
  color: var(--foreground);
}
