.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--menu-background);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--menu-border-radius);
  border: 1px solid var(--menu-border);
  padding: 5px 10px;
  min-height: 100px;
  min-width: 100px;
  max-width: 80vw;
  overflow: hidden;
}

.container active {
  cursor: grabbing;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
