.elementContainer {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.folder {
  display: flex;
  align-items: center;
}

.elementContainer svg {
  margin-right: 10px;
}

.subElements {
  display: none;
}

.elementContainer:hover > .subElements {
  display: block;
  position: absolute;
  top: -5px;
  left: calc(100% + 10px);
  padding: 10px;
  margin: -25px;
  z-index: 100;
  background-color: var(--background);
  border: 1px solid var(--menu-border);
  border-radius: var(--menu-border-radius);
}

.elementContainer:hover {
  text-decoration: underline;
}
