.container {
  background-color: var(--menu-background);
  border-radius: var(--menu-border-radius);
  padding: 1em 1em 6em 1em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid var(--menu-border);
  width: 540px;
  max-width: 100%;
}

.title.error {
  color: var(--danger);
}

.content {
  margin-top: 10px;
}

.button {
  color: rgb(202, 202, 202);
  padding: 2px 10px;
  border: 1px solid var(--foreground-light);
  border-radius: 0.5rem;
}

.button.error {
  border: 1px solid var(--danger);
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.actionBar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(21, 21, 21);
  height: 5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: var(--menu-border-radius);
  border-bottom-right-radius: var(--menu-border-radius);
  padding: 1em;
}

.actionBar input {
  width: 100%;
  margin-right: 15px;
}
