.container {
  cursor: pointer;
  border: 1px solid var(--menu-border);
  border-radius: var(--menu-border-radius);
  padding: 5px 15px;
  transform: translateY(-5px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
