.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-background);
  border-radius: var(--menu-border-radius);
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid var(--menu-border);
}
