.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-background);
  border-radius: var(--menu-border-radius);
  padding: 12px;
  margin: 5px 0;
  border: 1px solid var(--menu-border);
}

.input::placeholder {
  color: gray;
}

.fit {
  min-width: 100%;
}
