.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.icon {
  width: 50px;
  margin: auto calc(2rem - 25px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 50%;
  border: 1px solid var(--inactive);
  color: var(--inactive);
  padding: 5px;
}

.icon.active {
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.icon:hover {
  transform: scale(1.1);
}
