.container {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  max-width: 90vw;
}

.section {
  margin: 0 0 10px 0;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.line button {
  min-width: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.element {
  margin-top: 10px;
}
