.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  min-width: 40vw;
  max-width: 90vw;
}

.selector {
  border-radius: var(--menu-border-radius);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid var(--menu-border);
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 15px;
}

.colorSelector {
  max-width: 352px;
}

.item {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--menu-border);
  border-radius: var(--menu-border-radius);
  cursor: pointer;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.active {
  border: 4px solid var(--menu-border);
}

.color {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100vw;
  }
  .selector {
    margin: 0.5rem 1rem;
  }
}
