.container {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  max-width: 90vw;
}

.typeContainer.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.typeContainer svg {
  width: 25px;
  margin-right: 5px;
}
