.usersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 40vw;
  max-width: 90vw;
}

.user {
  background-color: var(--menu-background);
  padding: 5px 15px;
  cursor: pointer;
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  transition: all 0.2s ease-in-out;
}

.user p,
.user strong {
  margin: 0 5px;
}

.contextMenuActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contextMenuActions button {
  margin: 5px 0;
  width: 100%;
}

.permission {
  background-color: var(--foreground-glass-light);
  border: 1px solid var(--foreground-light);
  padding: 0 5px;
  border-radius: 5px;
}

.permission.administrator {
  background-color: var(--foreground-glass-light-2);
  border: 1px solid var(--foreground-light-2);
}
