.container {
  background-color: var(--menu-background);
  border-radius: var(--menu-border-radius);
  padding: 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-top: 1px solid var(--menu-border);
  width: calc(100vw - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 0.5em;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--menu-background);
  border-radius: 2em;
}

.title {
  margin-right: 0.75rem;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  min-width: 40vw;
  max-width: 90vw;
}

.item {
  background-color: var(--menu-background);
  border-radius: var(--menu-border-radius);
  padding: 5px 10px;
  border: 1px solid var(--menu-border);
  cursor: pointer;
  margin: 10px;
  text-align: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;

  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.item:hover {
  border: 1px solid var(--foreground);
}

.item:hover:before {
  opacity: 1;
}

.pageContent {
  min-width: 40vw;
  max-width: 90vw;
}

@media (max-width: 768px) {
  .container {
    margin: 3rem 0;
    width: 100vw;
  }
  .pageContent {
    width: 100%;
    max-width: 100vw;
  }
  .itemsContainer {
    max-width: 100vw;
  }
  .item {
    width: 100%;
  }
}
