@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --foreground-light: #f81ce5;
  --foreground-glass-light: rgba(39, 194, 140, 0.202);
  --foreground-light-2: rgb(39, 93, 194);
  --foreground-glass-light-2: rgba(39, 93, 194, 0.202);
  --background: rgb(0, 0, 0);
  --menu-background: rgba(0, 0, 0, 0.211);
  --menu-border: rgba(255, 255, 255, 0.125);
  --menu-padding: 1em;
  --menu-border-radius: 0.5rem;
  --danger: rgb(255, 53, 53);
  --success: #0070f3;
  --inactive: #777;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

h1 {
  font-size: 2rem;
  font-family: var(--font-sans);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-sans);
}

h3 {
  font-size: 1.25rem;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--inactive);
}

.text-light {
  color: var(--foreground-light);
}

.input.glass {
  background-color: var(--menu-background);
  border-radius: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 50px;
  padding: 2px 10px;
}

.input.glass.white {
  background-color: rgba(255, 255, 255, 0.161);
  border-radius: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 50px;
  padding: 2px 10px;
}

*:focus {
  outline: none;
}

.button {
  color: rgb(202, 202, 202);
}

.button.glass:hover {
  color: white;
}

.button.glass.danger {
  color: var(--danger);
  font-weight: bold;
}

.button.glass:hover::after {
  left: 120%;
  width: 1px;
}

.button.glass:hover:before {
  opacity: 1;
}

.color-light-2 {
  color: var(--foreground-light-2);
}

.background-light-2 {
  background-color: var(--foreground-light-2);
}

/* text select */

::selection {
  background-color: var(--foreground-light);
}
